*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(23, 37, 56);
    color: white;
}


/*Fixa så att h1 går ner till h2 och sedan h3, annars blir Leo inte glad*/
/*FIxa bildstorlek*/
/*Ändra färgen på sidan. Kanske lite ljusblå?*/
/*Fixa drop-down menyn på boendesidan. Den ska inte bara täcka hela sidan. Kanske lås scroll?*/
/*Fixa font-size */
/*FIXA EN GENERELL METOD FÖR HÖJDEN PÅ ARTIKLARNA PÅ BOENDESIDAN */
/*VIKTIG FIX: FIXA FÄRGSTYLIGENN FÖR ALLA SIDORNA. BÅDE MOBIL OCH DESKTOP*/
/*Fixa så att det inte är en orch-sida  */
/*Fixa så att man inte kan scrolla när menyn faälls ner. MOBILE ONLY*/
/*Fixa bilder, alla ska inte vara placeholders*/
/*FIXA BILDEN PÅ STARTSIDAN FÖR MOBIL*/
/*Kan bara anvönda den allmänna styligngen för bakgrund*/
/*FIXA SÅ ATT NAVEN INTE ÄR LÄNGST UPP PÅ SIDAN*/
/*Fixa boendesidan mobilversionen. Den är asful nu*/
/*Fixa så att alla bilder har mått med vw/vh*/


/*Här börjar stylingen för galleri-sidan*/

#grid_wrapper_galleri{
    height: 110vh;
    width: 100%;
    display: grid;
    grid-template-rows: 100px 40vh 40vh 30vh;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
    "hdr nav"
    "all all"
    "im2 im2"
    "sls sls"
    ;
    background-color: rgb(23, 37, 56);
}

#fotografer_och_bilder{
    grid-area: all;
    display: flex;
    justify-content: space-evenly;
    padding-right: 10vw;
    padding-top: 3vh;
    color: white;
    background-color: rgb(23, 37, 56);
}

#fotografer ul{
    list-style: none;
}

#fotografer{
    line-height: 2rem;
}

#static_img1{
    width: 40vw;
    height: 30vh;
    border-radius: 5px;
}

#static_img2_parent{
    grid-area: im2;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#static_image2{
    width: 95vw;
    height: inherit;
    border-radius: 5px;
}

#slideshow_container{
    grid-area: sls;
    width: 100%;
    height: 30vh;
    background-color: rgb(23, 37, 56);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.slideshow{
    width: 95vw;
    height: 30vh;
    border-radius: 5px;
    transition: all 1s;
}

/*Här slutar stylingen för galleri-sidan*/

/*Här börjar stylingen för Att göra-sidan*/
#grid_wrapper_att_gora{
    height: 175vh;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
    "hdr nav"
    "act act" 
    ;
    background-color: rgb(23, 37, 56);
}

#activities{
    grid-area: act;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: 99%;
    padding-bottom: 5px;
}

#besok_gullh{
    text-decoration: none;
    position: relative;
    height: 50vh;
    width: 98%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#besok_gullh.gone{
    display: none;
}

#bild_pa_gullh{
    height: inherit;
    width: inherit;
    position: relative;
    bottom: 0;
    border-radius: 7px;
}

#besok_gullh_text{
    position: absolute;
    bottom: 10%;
    color: white;
    left: 20px;
    height: 2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: transparent;
}

#besok_gullh_text h2{
    background-color: transparent;
}

#besok_gullh_text p{
    background-color: transparent;
}

#vandra_pa_harm{
    text-decoration: none;
    position: relative;
    height: 50vh;
    width: 98%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#vandra_pa_harm.gone{
    display: none;
}

#vandra_pa_harm_text{
    position: absolute;
    bottom: 10%;
    color: white;
    left: 20px;
    height: 2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: transparent;
}

#vandra_pa_harm_text p{
    background-color: transparent;
}

#vandra_pa_harm_text h2{
    background-color: transparent;
}


#bild_pa_vandring{
    height: inherit;
    width: inherit;
    position: relative;
    bottom: 0;
    border-radius: 7px;
}

#upptack{
    text-decoration: none;
    position: relative;
    height: 50vh;
    width: 98%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#upptack.gone{
    display: none;
}

#upptack_pa_harm_text{
    position: absolute;
    bottom: 10%;
    color: white;
    left: 20px;
    height: 2rem;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: transparent;
}

#upptack_pa_harm_text p{
    background-color: transparent;
}

#upptack_pa_harm_text h2{
    background-color: transparent;
}

#bild_pa_museum{
    height: inherit;
    width: inherit;
    position: relative;
    bottom: 0;
    border-radius: 7px;
}

/*Här slutar stylingen för Att göra sidan*/

/*Här börjar stylingen för boendesidan*/

#grid_wrapper_boende{
    height: 225vh;
    width: 100%;    
    display: grid;
    grid-template-columns: 5fr 1fr; /*Kanske ändra sista till 50px*/
    grid-template-rows:100px 1fr 1fr ;
    grid-template-areas: 
    "hdr nav"
    "bo1 bo1"
    "bo2 bo2"
    ;
}

#Harmanovagen{
    grid-area: bo1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

#rubrik_harm{
    font-size: 1.6rem;
}

#bild_pa_harmanovagen{
    height: auto;
    width: 80vw;
    border-radius: 3px;
}   

#desc_harm{
    padding: 10px;
    padding-top: 0px;
}

#booking_button_harm{
    background-color: rgb(240, 240, 240);
    width: 12vw;
    height: 10vh;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: none;
}

#art_harm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#oskargatan{
    grid-area: bo2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
}

#rubrik_osk{
    font-size: 1.6rem;
}

#bild_pa_oskargatan{
    height: auto;
    width: 80vw;
    border-radius: 3px;
}

#desc_osk{
    padding: 10px;
    padding-top: 0px;
}

#booking_button_osk{
    background-color: rgb(240, 240, 240);
    width: 12vw;
    height: 10vh;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 1.5rem;
    font-style: italic;
    text-decoration: none;
}

#booking_button_osk p{
    background-color: rgb(240, 240, 240);
    color: black;
}

#art_oskar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#article_boende {
    display: none;
}


/*Här slutar stylingen för boendesidan*/


/*Styling för startsidan nedanför*/

#grid_wrapper{
    height: 120vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 50px;
    grid-template-rows: 100px 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "hdr hdr hdr nav"
    "img img img img"
    "img img img img"
    "img img img img"
    "art art art art"
    ;
}

#rubrik{
    grid-area: hdr;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(23, 37, 56);
    color: white;
}



nav{
    grid-area: nav;
    background-color: rgb(23, 37, 56);
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 5px solid white;
}

#nav-links{
    transition: all 0.5s;
    position: absolute;
    top: -100vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    background-color: white;
    left: 0;
    list-style: none;
}

#nav-links a {
    text-decoration: none;
    color: black;
    height: 80px; 
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    margin-top: 50px;
    font-size: 1.2rem; 
    transition: font-size 0.3s
}

#nav-links a:hover{
    font-size: 1.4rem;
}

.nav-active {
    transform: translateY(100vh);
    position: absolute;
}

.burger_line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    border-radius: 2px;
    transition: all 0.5s;
}

.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: black;
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: black;
}

#burger {
    cursor: pointer;
    width: max-content;
    margin-bottom: 10px;
    position: relative;
}

#image_start{
    width: auto;
    height: 38vh;
    border-radius: 5px;
}

#img-parent{
    grid-area: img;
    background-color: rgb(23, 37, 56);
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#article_start {
    grid-area: art;
    display: flex;
    justify-content: center;
    align-items: space-evenly;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas:  
    "rbk rbk"
    "txt txt"
    ;
    margin-left: 0px;
    width: 100%;
}

#article_start h2{
    grid-area: rbk;
    display: flex;
    justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(23, 37, 56);
    color: white;
}

#article_start p{
    background-color: rgb(23, 37, 56);
    grid-area: txt;
    padding: 7px;
}

@media screen and (min-width:800px) {

    /*Här är stylingen för desktop-versionen av startsidan*/
    #grid_wrapper{
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 1fr 1fr 1fr;
        grid-template-areas: 
        "hdr hdr hdr hdr hdr"
        "nav nav nav nav nav"
        "art art img img img"
        "art art img img img"
        "art art img img img"
        ;
    }

    #img-parent{
        grid-area: img;
    }

    #image_start{
        width: auto;
        height: 400px;
        background-color: rgb(23, 37, 56);
        border-radius: 5px;
    }

    #article_start p{
        grid-area: txt;
        font-size: 1.2rem;
        background-color: rgb(23, 37, 56);
        color: white;
    }

    #burger{
        display: none;
    }

    #nav-links{
        top: 85px;
        height: 50px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
        align-items: center;
        margin-left: 0;
        background-color: rgb(23, 37, 56);
        color: white;
    }

    #nav-links a {
        height: inherit;
        width: 20vw;
        border-radius: 7px;
        font-size: 1.2rem;
    }

    #nav-links li{
        height: 8vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav{
        grid-area: nav;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-around;
        background-color: rgb(23, 37, 56);
        border: none;
    }

    .nav-active{
        transform: none;
    }

    #article_start{
        width: 50vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    /*Här kommer stylingen för desktop-versionen av boendesidan*/

    #grid_wrapper_boende{
        height: 175vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:100px 50px 1fr 1fr ;
        grid-template-areas: 
        "hdr hdr"
        "nav nav"
        "bo1 bo1"
        "bo2 bo2"
        ;
        
    }

    #oskargatan{
        grid-area: bo1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
        "rbk img"
        "art img"
        ;
        padding-top: 5vh;
        background-color: rgb(23, 37, 56);
    }

    #rubrik_osk{
        grid-area: rbk;
        display: flex;
        justify-content: center;
    }

    #art_oskar{
        grid-area: art;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-right: 6vw;
        padding-left: 6vw;
        font-size: 1.2rem;  
        height: 80vh; 
    }

    #bild_pa_oskargatan{
        grid-area: img;
        width: max-content;
        height: auto;
        bottom: 0;
        border-radius: 5px;
        margin-right: 1vw;
    }


    #Harmanovagen{
        grid-area: bo2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 50px 1fr;
        grid-template-areas: 
        "img rbk"
        "img art"
        ;  
        padding-top: 5vh;
        background-color: rgb(23, 37, 56);
    }

    #bild_pa_harmanovagen{
        grid-area: img;
        width: max-content;
        height: auto;
        top: 0;
        border-radius: 5px;
       margin-left: 1vw;
    }

    #art_harm{
        grid-area: art;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding-right: 6vw;
        padding-left: 6vw;
        font-size: 1.2rem;  
        height: 80vh; 
    }

    #rubrik_harm{
        grid-area: rbk;
        display: flex;
        justify-content: center;
    }


    /*Här börjar stylingen för desktop-versionen av att göra-sidan.*/

    #grid_wrapper_att_gora{
        display: grid;
        height: 150vh;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 50px 1fr ;
        grid-template-areas: 
        "hdr"
        "nav"
        "act"
        ;
    }

    #activities{
        display: grid;
        grid-area: act;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "act1 act2"
        "act3 act3"
        ;
    }
    
    #vandra_pa_harm{
        grid-area: act1;
    }

    #upptack{
        grid-area: act2;
    }

    #besok_gullh{
        grid-area: act3;
        top: -20px;
        width: 99%;
    }

    #upptack:hover{ 
        filter: brightness(120%);
        transition: all 0.5s;
    }

    #vandra_pa_harm:hover{
        filter: brightness(120%);
        transition: all 0.5s;
    }

    #besok_gullh:hover{
        filter: brightness(120%);
        transition: all 0.5s;
    }

    #grid_wrapper_galleri{
        height: 125vh;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 50px 40vh 30vh 1fr;
        grid-template-areas: 
        "hdr"
        "nav"
        "sls"
        "mix"
        "img"
        ;
    }

    #slideshow_container{
        align-items: center;
        height: 40vh;
    }

    .slideshow{
        width: 80vw;
    }

    #static_img2_parent{
        grid-area: img;
        width: 100%;
        height: auto;
        padding-top: 5vh;
    }

    #static_image2{
        height: 30vh;
        width: 85vw;
    }

    #fotografer_och_bilder{
        grid-area: mix;
        padding-bottom: 20vh;
    }

}